table {
  border: 2px solid black;
  border-collapse: collapse;
  margin: auto;
}
thead th:not(:first-child) {
  background-color: rgb(25, 162, 241);
  vertical-align: top;
  font-size: 1.1em;
  border: 1px solid black;
}
thead tr {
  border: 2px solid black;
}
td:first-child {
  font-weight: bold;
  background-color: rgb(236, 231, 231);
}
td {
  text-align: center;
  border: 1px solid black;
}
.seasonal_group {
  font-weight: bold;
  font-size: 1.1em;
  color: rgb(209, 26, 26);
}
tbody td:not(:first-child) {
  width: 110px;
  height: 100px;
}
.family_pool {
  background-color: rgb(245, 161, 203);
}
.sports_pool {
  background-color: rgb(130, 170, 192);
}
.text {
  font-weight: bold;
}
.last {
  color: chocolate;
}
[id] {
  color: yellow;
}
a:nth-child(2) {
  color: green;
}
a:nth-child(3) {
  color: red;
}
.ok {
  color: chocolate;
}
#black {
  color: black;
}
