td {
  text-align: left;
  border: 1px white;
}
thead {
  background-color: rgb(13, 156, 89);
  color: white;
  font-weight: bold;
}
tbody > tr:nth-of-type(odd) {
  background-color: rgb(255, 204, 225);
}
table {
  width: 440px;
}
