h1 {
  text-align: center;
  font-style: italic;
  font-size: 2.4em;
  color: rgb(73, 18, 175);
}
tr:first-child {
  font-style: italic;
  color: rgb(138, 7, 72);
  font-size: 1.4em;
}
td {
  padding: 4px;
}
td:first-child {
  font-style: italic;
  font-weight: 310;
  color: rgb(224, 41, 81);
  width: 110px;
  font-size: 1.2em;
}
td:nth-child(3) {
  font-style: italic;
  font-weight: 310;
  color: rgb(224, 41, 81);
  width: 120px;
  font-size: 1.2em;
}
span {
  margin-left: 25px;
  font-style: italic;
  color: rgb(138, 7, 72);
  font-size: 1.1em;
}
