#table1 {
  border-collapse: collapse;
  margin-top: 15px;
}
#table1 th {
  padding: 4px;
}
#table1 td {
  border: 1px solid black;
  width: 100px;
  padding: 4px;
}
#table1 td:first-child {
  width: 130px;
}
